@model PerformanceManagementApp.Models.EmployeeResponseModel

@{
    ViewData["Title"] = "CreatedEmployee";
}

<h1>CreatedEmployee</h1>

<div>
    <h1>Created Employee</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignationId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>*@
    </dl>
</div>
<div>

    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
